/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
profiles.clj
/.env
*.log
resources/public/js
.nrepl-port

# IntelliJ https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
